.navbar {background-color:#178729; padding:12px; margin-bottom: 3em;}
.navbar-brand {color: #FFFFFF;text-decoration:none; font-size:30px}
footer {background-color:#178729; padding:12px; text-align: center; margin-top:10em;}
small {color:#9f9f9f;}
body {background-color:#e3e3e3;}
.boot{color:#FFFFFF;}
