extends layout

block content
  h1= title
  h3 Purpose
  p BookBarterCSM's purpose is to provide a place for Colorado School of Mines students to barter their old textbooks
  h3 User/Tester Information
  p blah blah blah blah
  h3 Vote for Us!
  p include a paragraph that describes why you think others should vote for your project. Did you put in extra effort to make it aesthetically pleasing? Was there a difficult feature you managed to get working? Is it a cool idea for an app? (i.e., something more than a simple bartering system)
  h3 Node Option 1
  p We choose to do the Node Option 1 Project.  The new technology that we implemented was a login capability.
