extends layout

block content
  h1= title
  br
  h3 Purpose
  p BookBarterCSM's purpose is to provide a place for Colorado School of Mines students to barter their old textbooks
  br
  h3 User/Tester Information
  p Users must register and log in to post a new listing.  Only the user who posted a listing can delete and/or update it.
  br
  h3 Vote for Us!
  p We made our design simple and aesthetically pleasing while still managing to implement all the necessary technology.
  br
  h3 Node Option 1
  p We choose to do the Node Option 1 Project.  The new technology that we implemented was a login capability.
