extends layout

block content
  h1= title
  br
  h3 Purpose
  p BookBarterCSM's purpose is to provide a place for Colorado School of Mines students to barter their old textbooks
  br
  h3 User/Tester Information
<<<<<<< HEAD
  p Any user can view listings regardless of whether he/she is logged in. However, to post a listing, complete a barter, delete  listing, or view all listings that he/she has posted, the user must be logged in.
  h3 Vote for Us!
  p This is a better version of that one facebook page.
=======
  p Users must register and log in to post a new listing.  Only the user who posted a listing can delete and/or update it.
  br
  h3 Vote for Us!
  p We made our design simple and aesthetically pleasing while still managing to implement all the necessary technology.
  br
>>>>>>> 7477d6bfa8ac05e8bf8ea24c4945ed17cadad30b
  h3 Node Option 1
  p We choose to do the Node Option 1 Project.  The new technology that we implemented was a login capability.
