extends layout

block content
  h1= title
  h3 Purpose
  p BookBarterCSM's purpose is to provide a place for Colorado School of Mines students to barter their old textbooks
  h3 User/Tester Information
  p Any user can view listings regardless of whether he/she is logged in. However, to post a listing, complete a barter, delete  listing, or view all listings that he/she has posted, the user must be logged in.
  h3 Vote for Us!
  p This is a better version of that one facebook page.
  h3 Node Option 1
  p We choose to do the Node Option 1 Project.  The new technology that we implemented was a login capability.
