doctype html
html
  head
    meta(name='viewport', content='width=device-width, initial-scale=1.0')
    title= title
    link(rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.0/css/bootstrap.min.css" integrity="sha384-9gVQ4dYFwwWSjIDZnLEWnxCjeSWFphJiwGPXr1jddIhOegiu1FwO5qRGvFXOdJZ4" crossorigin="anonymous")
    link(rel='stylesheet', href='/stylesheets/style.css')
  body
    .navbar.navbar-default.navbar-fixed-top
      .container
        .navbar-header
          a.navbar-brand(href='/') BookBarterCSM
            span.icon-bar
            span.icon-bar
            span.icon-bar
              
            a.navbar-item(href='/listings/add') Post Item
            //a.navbar-item(href='/listings/user/#{user.id}') My Listings
            a.navbar-item(href='/logout') Logout

            a.navbar-item(href='/register') Register
            a.navbar-item(href='/login') Login
          a.navbar-item(href='/about') About
        #navbar-main.navbar-collapse.collapse
    .container
      block content

      footer
        .row
          .cols-xs-12
            small.boot &copy; WebApps Group 16 2018
