doctype html
html
  head
    meta(name='viewport', content='width=device-width, initial-scale=1.0')
    title= title
    link(rel='stylesheet', href='/stylesheets/style.css')
  body
    .navbar.navbar-default.navbar-fixed-top
      .container
        .navbar-header
          a.navbar-brand(href='/') BookBarterCSM
            span.icon-bar
            span.icon-bar
            span.icon-bar
          a.navbar-item(href='/listings/add') Post Item
          a.navbar-item(href='/about') About
          a.navbar-item(href='/register') Register
          a.navbar-item(href='/login') Login
        #navbar-main.navbar-collapse.collapse
    .container
      block content

      footer
        .row
          .cols-xs-12
            small.boot &copy; WebApps Group 16 2018

    script(src='/javascripts/jquery-3.3.1.js')
    script(src='/Bootstrap/js/bootstrap.bundle.js')
