extends layout

block content
  .row.page-header
    .col-lg-12
      h1 Register
  .row
    .col-xs-12.col-md-6
      form.form-horizontal(action="", method="post", role="form")
        - if (error == "val")
          .alert.alert-danger(role="alert") All fields required, please try again
        - if (error == "dup")
          .alert.alert-danger(role="alert") An account already exists with this email, please try again
        - if (error == "eVal")
          .alert.alert-danger(role="alert") Please input a valid email
        .form-group
          label.col-xs-10.col-sm-2.control-label(for="name") Name:
          .col-xs-12.col-sm-10
            input#name.form-control(name="name")
        .form-group
          label.col-xs-10.col-sm-2.control-label(for="Email") Email:
          .col-xs-12.col-sm-10
            input#name.form-control(name="email")
        .form-group
          label.col-xs-10.col-sm-2.control-label(for="password") Password:
          .col-xs-12.col-sm-10
            input#name.form-control(type="password", name="password")
        .row.submit
          .col-xs-12.col-sm-10
              button.btn.back.boot Register
